body{
    background-color: rgba(210, 210, 212, 0.963);
}

.container{
    display: flex;

}

.box{
    width: 360px;
    height: 515px;
    border: 2px solid rgb(41, 41, 40);
}

h1{
    text-align: center;
}

#userList{
    margin-left: 80px;
}

#userList2{
    margin-left: 80px;
}

#userDetails{
    background-color: #e7ebf0;
    width: 220px;
    height: 350px;
    margin-left: 50px;
    margin-top: 100px;
    border: 2px solid rgb(41, 41, 40);
    text-align: center;
}

input{
    width: 200px;
}

#search{
    margin-left: 50px;
}